<!-- https://bootsnipp.com/snippets/Vg5ON -->

<li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
    <small>BACKEND</small>
</li>
<!-- /END Separator -->
<a href="{% url 'web:adm:admin_view' %}" class="bg-dark list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-calendar fa-fw mr-3"></span>
        <span class="menu-collapsed">Django Admin</span>
    </div>
</a>

<a href="/docs_api" class="bg-dark list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-calendar fa-fw mr-3"></span>
        <span class="menu-collapsed">REST API</span>
    </div>
</a>

<!-- Separator without title -->
<li class="list-group-item sidebar-separator menu-collapsed"></li>
<!-- /END Separator -->
