{% extends "ui_base.html" %}
{% load i18n staticfiles %}

{% block title %}Identify Login{% endblock %}

{% block sidebar %}
    <li class="nav-item nav-category">HOME</li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'web:acm:home' %}">
                <i class="menu-icon typcn typcn-mail"></i>
                <span class="menu-title">Home</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'web:acm:view_access' %}">
                <i class="menu-icon typcn typcn-mail"></i>
                <span class="menu-title">Access</span>
        </a>
    </li>

    {% if request.user.associated_identity %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'web:acm:my_access' %}">
                        <i class="menu-icon typcn typcn-mail"></i>
                        <span class="menu-title">My Access</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'web:acm:access_approvals' %}">
                        <i class="menu-icon typcn typcn-mail"></i>
                        <span class="menu-title">Approvals
                            <span class="badge badge-info">{{pending_approvals}}</span>
                    </span>
                </a>
            </li>
    {% endif %}

    {% if request.user.is_staff %}
            <li class="nav-item nav-category">REPORTING</li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'web:acm:report_builder' %}">
                        <i class="menu-icon typcn typcn-mail"></i>
                        <span class="menu-title">Report Builder</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'web:acm:sql_explorer' %}">
                        <i class="menu-icon typcn typcn-mail"></i>
                        <span class="menu-title">Data Exploration</span>
                </a>
            </li>
    {% endif %}

    <li class="nav-item nav-category">SYSTEM</li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'web:acm:map_visual' %}">
                <i class="menu-icon typcn typcn-mail"></i>
                <span class="menu-title">System Visualization</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'web:acm:view_platforms' %}">
                <i class="menu-icon typcn typcn-mail"></i>
                <span class="menu-title">Platforms</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'web:acm:view_servers' %}">
                <i class="menu-icon typcn typcn-mail"></i>
                <span class="menu-title">Server Groups</span>
        </a>
    </li>

    <li class="nav-item nav-category">API View</li>

    <li class="nav-item">
            <a class="nav-link test" data-toggle="collapse" href="#dashboard-dropdown" aria-expanded="false" aria-controls="dashboard-dropdown">
                    <i class="menu-icon typcn typcn-document-text"></i>
                    <span class="menu-title">Access</span>
                    <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="dashboard-dropdown">
                    <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'api:iam:id_access:group_request-list' %}">Access-Group Requests</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'api:iam:id_access:item_request-list' %}">Access-Item Requests</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'api:iam:id_access:item-list' %}">Access Items</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'api:iam:id_access:group-list' %}">Access Groups</a>
                            </li>
                    </ul>
            </div>
    </li>
    <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
                    <i class="menu-icon typcn typcn-archive"></i>
                    <span class="menu-title">Infrastructure</span>
                    <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="page-layouts">
                    <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'api:sys:id_platforms:platform-list' %}">Platforms</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'api:sys:id_servers:servergroup-list' %}">Server Groups</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'api:sys:id_servers:server-list' %}">Servers</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'api:sys:id_agents:agent-list' %}">Agents</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'api:sys:id_agents:agent_iface-list' %}">Agent Interfaces</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'api:sys:id_agents:agentwo-list' %}">Agent Tasks</a>
                            </li>
                    </ul>
            </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'api:sys:id_agents:agentwo-list' %}">
                <i class="menu-icon typcn typcn-mail"></i>
                <span class="menu-title">Tasks</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
                <i class="menu-icon typcn typcn-mail"></i>
                <span class="menu-title">Help</span>
        </a>
    </li>
{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex align-content-end flex-wrap" style="padding-top:50px">
        <div class="card card-login mx-auto text-center">
            <div class="card-header">
                <h4>Logged out</h4>
            </div>
            <div class="card-body">

        
                <div class="alert alert-info" role="alert">
                    You have been logged out.
                </div>

                Thank you for trying out the demo.
                
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}