{% extends "access_management/acm_base.html" %}
{% load i18n staticfiles %}

{% block content %}
<style>
    #sidesearch {
        width: 300px;
        /* background: linear-gradient(
            90deg,
            rgba(51, 103, 155, 0.433) 0%,
            rgba(34, 66, 97, 0.796) 60%,
            rgb(16, 44, 70) 100%
        ); */
        background-color: #1c1e2f;
    }
    #sidesearch div{
        width: 100%;
    }
    .sidesearch_search {
        /* background: linear-gradient(
            180deg,
            rgba(176, 194, 211, 0.85) 0%,
            rgba(112, 132, 151, 0.796) 90%,
            rgb(57, 67, 77) 100%
        ); */
    }
    .sidesearch_result {
    }
    .search_meta {
        min-height: 100px;
        /* background: linear-gradient(
            180deg,
            rgba(176, 194, 211, 0.85) 0%,
            rgba(112, 132, 151, 0.796) 98%,
            rgb(57, 67, 77) 100%
        ); */
        background-color: #1c1e2f;
    }
    .sidesearch_body {
        background-color: #222437;
    }    
    .search_content {
        background-color: #222437;
    }
    .sidesearch_right {
        width: calc(100% - 300px);
    }
</style>

    <div class="d-flex h-100">
        <div id="sidesearch" class="d-flex p-3">
            <div class="d-flex flex-column sidesearch_body p-3">
                <div class="sidesearch_search">
                    {% block sidesearch_search %}
                        test search
                    {% endblock %}
                </div>
                <div class="sidesearch_result flex-grow-1">
                    {% block sidesearch_result %}
                        
                    {% endblock %}
                </div>
            </div>
        </div>
    
        <div id="main-control" class="sidesearch_right">
            <div class="d-flex flex-column flex-grow-1 search_body py-3 pr-3">
                <div class="search_meta">
                    {% block search_meta %}
                        test meta
                    {% endblock %}
                </div>
                <div class="search_content flex-grow-1 mt-3 p-3">
                    {% block search_content %}
                        test content
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
