{% extends "access_management/acm_base.html" %}
{% load i18n staticfiles %}

{% block content %}

    <div class="d-flex h-100">
        <div id="sidesearch" class="d-flex p-3">
            <div class="d-flex flex-column sidesearch_body p-3">
                <div class="sidesearch_search">
                    {% block sidesearch_search %}
                        test search
                    {% endblock %}
                </div>
                <div class="sidesearch_result flex-grow-1">
                    {% block sidesearch_result %}
                        
                    {% endblock %}
                </div>
            </div>
        </div>
    
        <div id="main-control" class="sidesearch_right">
            <div class="d-flex flex-column flex-grow-1 search_body py-3 pr-3">
                <div class="search_meta">
                    {% block search_meta %}
                        test meta
                    {% endblock %}
                </div>
                <div class="search_content flex-grow-1 mt-3 p-3">
                    {% block search_content %}
                        test content
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
