
      <div class="row mbr-justify-content-center">

        <div class="col-lg-6 mbr-col-md-10">
          <a class="wrap" href="{% url 'web:acm:view_access' %}">
              <div class="ico-wrap">
                <span class="mbr-iconfont fa-telegram fa"></span>
              </div>
              <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">View <span>Access</span></h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Search and <strong>request new access</strong></p>
              </div>
          </a>
        </div>
        
        <div class="col-lg-6 mbr-col-md-10">
            <a class="wrap" href="{% url 'web:acm:my_access' %}">
                <div class="ico-wrap">
                  <span class="mbr-iconfont fa-id-badge fa"></span>
                </div>
                <div class="text-wrap vcenter">
                  <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">My <span>Access</span></h2>
                  <p class="mbr-fonts-style text1 mbr-text display-6">Review your existing access membership and access requests</p>
                </div>
            </a>
        </div>
        
        <div class="col-lg-6 mbr-col-md-10">
            <div class="wrap">
                <div class="ico-wrap">
                  <span class="mbr-iconfont fa-inbox fa"></span>
                </div>
                <div class="text-wrap vcenter">
                  <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Review <span>Access Requests</span></h2>
                  <p class="mbr-fonts-style text1 mbr-text display-6">Review all access requests and history</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class="mbr-iconfont fa-handshake-o fa"></span>
                </div>
                <div class="text-wrap vcenter">
                  <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Approve <span>Requests and Changes</span></h2>
                  <p class="mbr-fonts-style text1 mbr-text display-6">Authorize access-requests, access-group changes, etc</p>
                </div>
            </div>
        </div>
        

      </div>