<li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
    <small>HOME</small>
</li>
<!-- /END Separator -->
<a href="{% url 'web:acm:home' %}" class="bg-dark list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-home fa-fw mr-3"></span>
        <span class="menu-collapsed">Home</span>
    </div>
</a>
<a href="{% url 'web:acm:view_access' %}" class="bg-dark list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-sitemap fa-fw mr-3"></span>
        <span class="menu-collapsed">Access</span>
    </div>
</a>

{% if request.user.associated_identity %}
    <a href="{% url 'web:acm:my_access' %}" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-user fa-fw mr-3"></span>
            <span class="menu-collapsed">My Access</span>
        </div>
    </a>
    <a href="{% url 'web:acm:access_approvals' %}" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-check fa-fw mr-3"></span>
            <span class="menu-collapsed">Approvals
                <span class="badge badge-info">{{pending_approvals}}</span>
            </span>
        </div>
    </a>
{% endif %}

{% if request.user.is_staff %}
<li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
    <small>REPORTING</small>
</li>
    <a href="{% url 'web:acm:report_builder' %}"
        class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-table fa-fw mr-3"></span>
            <span class="menu-collapsed">Report Builder</span>
        </div>
    </a>
    <a href="{% url 'web:acm:sql_explorer' %}"
        class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-database fa-fw mr-3"></span>
            <span class="menu-collapsed">Data Exploration</span>
        </div>
    </a>
{% endif %}


<li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
    <small>SYSTEM</small>
</li>
<a href="{% url 'web:acm:map_visual' %}" class="bg-dark list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-map fa-fw mr-3"></span>
        <span class="menu-collapsed text-info">System Visualization</span>
    </div>
</a>
<a href="{% url 'web:acm:view_platforms' %}" class="bg-dark list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-building fa-fw mr-3"></span>
        <span class="menu-collapsed">Platforms</span>
    </div>
</a>
<a href="{% url 'web:acm:view_servers' %}" class="bg-dark list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-building fa-fw mr-3"></span>
        <span class="menu-collapsed">Server Groups</span>
    </div>
</a>
<li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
    <small>API View</small>
</li>
<a href="#submenu0" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-dashboard fa-fw mr-3"></span>
        <span class="menu-collapsed">Access </span>
        <span class="submenu-icon ml-auto"></span>
    </div>
</a>
<div id='submenu0' class="collapse sidebar-submenu">
    <a href="{% url 'api:iam:id_access:group_request-list' %}" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Access-Group Requests</span>
    </a>
    <a href="{% url 'api:iam:id_access:item_request-list' %}" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Access-Item Requests</span>
    </a>
    <a href="{% url 'api:iam:id_access:item-list' %}" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Access Items</span>
    </a>
    <a href="{% url 'api:iam:id_access:group-list' %}" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Access Groups</span>
    </a>
</div>


<a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-dashboard fa-fw mr-3"></span>
        <span class="menu-collapsed">Infrastructure</span>
        <span class="submenu-icon ml-auto"></span>
    </div>
</a>
<!-- Submenu content -->
<div id='submenu1' class="collapse sidebar-submenu">
    <a href="{% url 'api:sys:id_platforms:platform-list' %}" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Platforms</span>
    </a>
    <a href="{% url 'api:sys:id_servers:servergroup-list' %}" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Server Groups</span>
    </a>
    <a href="{% url 'api:sys:id_servers:server-list' %}" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Servers</span>
    </a>
    <a href="{% url 'api:sys:id_agents:agent-list' %}" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Agents</span>
    </a>
    <a href="{% url 'api:sys:id_agents:agent_iface-list' %}" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Agent Interfaces</span>
    </a>
    <a href="{% url 'api:sys:id_agents:agentwo-list' %}" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Agent Tasks</span>
    </a>
</div>

<a href="{% url 'api:sys:id_agents:agentwo-list' %}" class="bg-dark list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-tasks fa-fw mr-3"></span>
        <span class="menu-collapsed">Tasks</span>
    </div>
</a>

<!-- Separator without title -->
<li class="list-group-item sidebar-separator menu-collapsed"></li>
<!-- /END Separator -->

<a href="#" class="bg-dark list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-question fa-fw mr-3"></span>
        <span class="menu-collapsed">Help</span>
    </div>
</a>
<a href="#top" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
    <div class="d-flex w-100 justify-content-start align-items-center">
        <span id="collapse-icon" class="fa fa-2x mr-3"></span>
        <span id="collapse-text" class="menu-collapsed">Collapse</span>
    </div>
</a>
